{% extends 'base.html' %}
{#{% import "bootstrap/wtf.html" as wtf %}#}


{% block title %}
—— 找回密码
{% endblock %}

{% block left_main %}
<div class="card" id="register-card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="border-bottom: 1px solid #ccc!important;margin-bottom: 0px;">
            <nav aria-label="breadcrumb" id="card-nav">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">V2DE</a></li>
                <li class="breadcrumb-item active" aria-current="page">找回密码</li>
              </ol>
            </nav>
        </li>
        <li class="list-group-item" id="node-nav">
            <form id="register-form" method="post" action="{{ url_for('web.forget_password') }}">
                {{ form.hidden_tag() }}
                {% if form and form.errors %}
                    {% for field in form.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>错误:{{ form.errors[field][0] }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}

            {% with messages = get_flashed_messages() %}
                {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0]  }}alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ message[1] }}</strong>
                </div>
                {% endfor %}
            {% endwith %}
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label text-right">{{ form.email.label }}</label>
                <div class="col-10">
                  {{ form.email() }}
                    <p style="margin-bottom: 0px;color: #ccc;">请填写注册时的电子邮箱</p>
                </div>
              </div>


              <div class="form-group row">
                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label text-right"></label>
                <div class="col-10">
                  <button type="submit" class="btn btn-secondary btn-sm">找回密码</button>
                </div>
              </div>
            </form>
        </li>
    </ul>
</div>
{% endblock %}

{% block right_main %}
{% endblock %}
