

{% macro user_card(user) %}
    <div class="user-card text-center">
        <a href="{{ url_for('web.user', username=user.username) }}">
            <img class="rounded avatar-m" src="{{ url_for('web.get_avatar', filename=user.avatar_s) }}">
        </a>
        <h6>
            <a href="{{ url_for('web.user', username=user.username) }}">{{ user.username }}</a>
        </h6>
        {{ follow_area(user) }}
    </div>
{% endmacro %}



{% macro follow_area(user) %}
    {% if current_user.is_authenticated %}
        {% if user != current_user %}
            {% if current_user.is_following(user) %}
                <form class="inline" method="post"
                      action="{{ url_for('web.unfollow', user_id=user.id, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-light btn-sm">
                        {% if current_user.is_followed_by(user) %}
                            <p class="badge badge-light">互相关注</p>
                        {% else %}
                            取消关注</button>
                        {% endif %}
                </form>
            {% else %}
                <form class="inline" method="post"
                      action="{{ url_for('web.follow', user_id=user.id, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary btn-sm">+关注</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">TA关注了你</p>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <form class="inline" method="post"
              action="{{ url_for('web.follow', user_id=user.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary btn-sm">+关注</button>
        </form>
    {% endif %}
{% endmacro %}
