{% from 'macros.html' import follow_area with context %}

<div class="card" id="user-card">
    <ul class="list-group list-group-flush">
            <li class="list-group-item" style="border-bottom: solid 1px #ccc;padding-top: 6px;padding-bottom: 6px;">
            <img src="{{ url_for('static',filename='img/flat_compose.png') }}" width="32" height="32" />
            <a href="{{ url_for('web.new_post') }}" style="padding-top: 4px; padding-left: 8px;">发表新帖</a>
            </li>

            <li class="list-group-item" style="border-bottom: solid 1px #ccc;padding-bottom: 0px;">
            <div class="row">
                <div class="col-8">
                    <a href="{{ url_for('web.user',username=user.username) }}">
                        <img class="rounded" src="{{ url_for('web.get_avatar',filename=user.avatar_s)}}"
                             height="48px" width="48px" />
                    </a>
                        <strong><a href="{{ url_for('web.user',username=user.username) }}"> {{ user.username }}</a></strong>
                    </div>
                    <div class="col-4">
                        {% if current_user == user %}
                        <a href="{{ url_for('web.edit_profile',user_id=current_user.id) }}">资料修改</a>
                        {% else %}
                        {{ follow_area(user) }}
                        {% endif %}
                    </div>
            </div>

            <div class="row" style="padding-top: 8px; font-size: 15px;">
                <div class="col-4" style="border-right: solid 1px #ccc;padding-bottom: 4px;">
                    <a href="{{ url_for('web.user',username=user.username) }}">
                    <p class="text-center" style="color: #385f8a;">{{ user.posts.count() }}</p></a>
                    <p class="text-center" style="color: #cccccc;">动态</p>
                </div>
                <div class="col-4" style="border-right: solid 1px #ccc;padding-bottom: 4px;">
                    <a href="{{ url_for('web.show_followings',user_id=user.id) }}" >
                    <p class="text-center" style="color: #385f8a;">
                        {% if user.following.count()-1 >0 %}
                            {{ user.following.count()-1 }}
                        {% else %}
                            {{ 0 }}
                        {% endif %}
                    </p></a>
                    <p class="text-center" style="color: #cccccc;">关注</p>

                </div>
                <div class="col-4">
                    <a href="{{ url_for('web.show_fans',user_id=user.id) }}" >
                    <p class="text-center" style="color: #385f8a;">
                        {% if user.followers.count()-1 >0 %}
                            {{ user.followers.count()-1 }}
                        {% else %}
                            {{ 0 }}
                        {% endif %}
                    </p> </a>
                    <p class="text-center" style="color: #cccccc;">被关注</p>
                </div>
            </div>
        </li>

        {% if current_user == user%}

                 <li class="list-group-item">
                    <div class="row">
                        <div class="col-6" style="padding-top: 6px;" >
                            <a href="{{ url_for('web.read_message',user_id=user.id) }}">
                                <span id="message_box" data-href="{{ url_for('web.messages_count') }}">
                                    {% if message_count >0 %}{{ message_count }}</span>条未读提醒 {% else %}我的消息 {% endif %}</a>
                        </div>
                    </div>
                </li>

            <li class="list-group-item">
            <div class="row">
                <div class="col-6" style="padding-top: 6px;">
                    <a href="{{ url_for('web.show_collects',user_id=user.id) }}">我的收藏</a>
                </div>
                <div class="col-6">
                    <p class="text-right" ><span class="badge badge-pill badge-info" id="collect_count">
                        {{ user.collections.count() }}</span></p>
                </div>
            </div>
        </li>
        {% endif %}

            <li class="list-group-item">
            <div class="row">
                <div  class="col-12" style="font-size: 13px;" >
                     <span class="post-info">简介：{{ user.bio or'暂无' }}</span>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6" style="font-size: 16px;" >
                    <span class="post-info">城市：</span>
                </div>
                <div class="col-6">
                    <p class="text-right"><span class="post-info"  style="font-size: 13px;">{{ user.location or'未设置' }}</span></p>
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6" style="font-size: 13px;" >
                    <span class="post-info">注册日期</span>
                </div>
                <div class="col-6">
                    <p class="text-right" ><span class="post-info"  style="font-size: 13px;">{{ moment( user.member_since ).format('LL') }}</span></p>
                </div>
            </div>
        </li>

    {% if not current_user.is_authenticated %}
        <li class="list-group-item">
            <strong>V2EX = way to explore<br /></strong>
        </li>
        <li class="list-group-item">
            <div class="mx-auto" style="width: 120px;">
            <button type="button" class="btn btn-sm" style="margin-left: 8px"><a href="{{ url_for('web.register') }}">现在注册</a> </button>
            <p>已有账户？<a href="{{ url_for('web.login') }}">登录</a> </p>
            </div>
        </li>
    {% endif %}

    </ul>

</div>
<script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
         {% if current_user.is_authenticated %}
            var is_authenticated = true;
        {% else %}
            var is_authenticated = false;
        {% endif %}

        function update_messages_count(){
            var $el = $('#message_box');
            $.ajax({
                type:'GET',
                url:$el.data('href'),
                success:function(res) {
                    if(res.count){
                        $el.html(res['count'])
                    }

                }
            });
        }

        if(is_authenticated) {
            setInterval(update_messages_count, 30000);
        }

    </script>

</script>