<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p style="font-size: 10px;">今日热议话题</p>
        </li>
        {% for h_p in hot_posts[:5] %}
        <li class="list-group-item">
            <a href="{{ url_for('web.user',username=h_p.author.username) }}"> <img src="{{ url_for('web.get_avatar',filename=h_p.author.avatar_s) }}" width="24" height="24" /></a>
            <small style="color: #999;"><a href="{{ url_for('web.post',id=h_p.id) }}"> {{ h_p.title }}</a></small>
        </li>
        {% endfor %}
     <li class="list-group-item">
            <strong>V2EX = way to explore<br /></strong>
            <p></p>
        </li>
        {% if not current_user.is_authenticated %}
    <li class="list-group-item">
        <div class="mx-auto" style="width: 120px;">
        <button type="button" class="btn btn-sm" style="margin-left: 8px"><a href="{{ url_for('web.register') }}">现在注册</a> </button>
        <p>已有账户？<a href="{{ url_for('web.login') }}">登录</a> </p>
        </div>
    </li>
        {% endif %}

    </ul>
</div>