{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block left_main %}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <ul class="nav" id="post-type">

                <li class="nav-item">
                  <a href="{{ url_for('web.search',word=request.args.get('word'),type='post') }}"
                      role="button" style="margin-right: 10px;
                            {% if tag=='all' %}color: #ffffff !important;{% endif %}">帖子</a>
                 </li>
                 <li class="nav-item">/&nbsp&nbsp</li>
                <li class="nav-item">
                  <a href="{{ url_for('web.search',word=request.args.get('word'),type='user') }}"
                      role="button" style="margin-right: 10px;
                            {% if tag=='all' %}color: #ffffff !important;{% endif %}">用户</a>
                  </li>

            </ul>
        </li>

    {% if request.args.get('type')=='post' or not request.args.get('type')%}
        {% if posts%}
            <span class="post-info"><div class="page-footer">共搜到{{ posts|length }}个结果</div></span>
            {% for p in posts %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1"><a href="{{ url_for('web.user',username=p.author.username) }}">
                            <img src="{{ url_for('web.get_avatar',filename=p.author.avatar_s) }}" height="48px" width="48px"
                                 class="rounded" /></a>  </div>
                        <div class="col-10">
                            <span class="post-title"><a href="{{ url_for('web.post',id=p.id) }}" id="post-title">{{ p.title or p.content }}</a></span><br />
                            <span class="post-info">
                                <strong style="color:#4d5256;"><a href="{{ url_for('web.user',username=p.author.username) }}"> {{ p.author.username }}</a></strong>
                                &nbsp • &nbsp<script>document.write(moment("{{ p.publish_time }}").fromNow());</script>
                                {% if p.comments.count() > 0 %}
                                &nbsp • &nbsp最后回复来自 <a href="{{ url_for('web.user',username=p.comments.all()[-1].author.username) }}"> {{ p.comments.all()[-1].author.username }}</a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="col-1"><span class="badge badge-pill badge-info">{{ p.comments.count() }}</span></div>
                    </div>
                </li>
            {% endfor %}
        {% elif search_user %}
            <span class="post-info"><div class="page-footer">共搜到{{ search_user|length }}个结果</div></span>
             {% for u in search_user %}
                 <li class="list-group-item">
                         <div class="row">

                             <div class="col-1">
                               <span class="post-info">
                                   <a href="{{ url_for('web.user',username=u.username) }}">
                                       <img src="{{ url_for('web.get_avatar',filename=u.avatar_s) }}" height="48px"
                                            width="48px" class="rounded" /></a></span>
                             </div>
                             <div class="col-3">
                               <span class="post-title"><a href="{{ url_for('web.user',username=u.username) }}" >
                                    {{ u.username }}</a></span>
                             </div>
                         </div>
                     </li>
                {% endfor %}
        {% else %}
                 <span class="post-info"><div class="page-footer">暂无相关内容</div></span>
        {% endif %}

  {% elif request.args.get('type')=='user'%}
        {% if search_user%}
            <span class="post-info"><div class="page-footer">共搜到{{ search_user|length }}个结果:</div></span>
            {% for u in search_user %}
                 <li class="list-group-item">
                         <div class="row">

                             <div class="col-1">
                               <span class="post-info">
                                   <a href="{{ url_for('web.user',username=u.username) }}">
                                       <img src="{{ url_for('web.get_avatar',filename=u.avatar_s) }}" height="48px"
                                            width="48px" class="rounded" /></a></span>
                             </div>
                             <div class="col-3">
                               <span class="post-title"><a href="{{ url_for('web.user',username=u.username) }}" >
                                    {{ u.username }}</a></span>
                             </div>
                         </div>
                     </li>
                {% endfor %}
            {% else %}
                 <span class="post-info"><div class="page-footer">暂无相关用户</div></span>
            {% endif %}

    {% endif %}
      </ul>
</div>
{% endblock %}

{% block right_main %}
    {% if current_user.is_authenticated %}
    {% include 'right_user_card.html' %}
    {% endif %}
    {% include 'right_hot_post.html' %}
{% endblock %}

